body{
    background-color: aqua;
}

#container{
    background-color: pink;
    width: 900px;
    height: 600px;
    margin: 50px auto auto auto;
    display: grid;
    grid-template-columns: auto auto;
    border: inset 4px black;
}

#MyInteraction{
    padding: 10px;
}

#MapImage {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

nav button {
    background-color:black;
    color: aqua;
    font-size: 16px;
    padding: 10px;
}

#KnopNoord, #KnopZuid {
    display: block;
    width: 300px;
}

#KnopWest, #KnopOost {
    display: inline-block;
    width: 150px;
}
